body{margin:0; text-align:center; background:#333 url(../image/bg_08.jpg); font-family:微软雅黑;}

div.one{height:54px; background-color:#23AC38; font-size:40px; color:#FFF; letter-spacing:40px;}

#hint2{color:#F00;}
